statemachine/rosetta.asl.2.json
{
	"Comment": "A state machine that monitors a Job in Transcribe until it completes.",
	"StartAt": "Extract Audio",
	"States": {
		"Extract Audio": {
			"Type": "Task",
			"Resource": "arn:aws:lambda:us-east-1:${AWS::AccountId}:function:SUBLambdaFunctionTranscode",
			"Next": "Wait extraction to complete"
		},
		"Wait extraction to complete": {
			"Type": "Wait",
			"Seconds": 60,
			"Next": "Get extraction Job Status"
		},
		"Get extraction Job Status": {
			"Type": "Task",
			"Resource": "arn:aws:lambda:us-east-1:${AWS::AccountId}:function:SUBLambdaFunctionTranscribeIsOver",
			"Next": "Extraction Job Complete?"
		},
		"Extraction Job Complete?": {
			"Type": "Choice",
			"Choices": [{
					"Variable": "$.status",
					"StringEquals": "FAILED",
					"Next": "Job Failed"
				},
				{
					"Variable": "$.status",
					"StringEquals": "COMPLETED",
					"Next": "To transcribe"
				}
			],
			"Default": "Wait extraction to complete"
		},
		"To transcribe": {
			"Type": "Task",
			"Resource": "arn:aws:lambda:us-east-1:${AWS::AccountId}:function:SUBLambdaFunctionTranscribe",
			"Next": "Wait transcription to complete"
		},
		"Wait transcription to complete": {
			"Type": "Wait",
			"Seconds": 10,
			"Next": "Get Job Status"
		},
		"Get Job Status": {
			"Type": "Task",
			"Resource": "arn:aws:lambda:us-east-1:${AWS::AccountId}:function:SUBLambdaFunctionTranscribeIsOver",
			"Next": "Job Complete?"
		},
		"Job Complete?": {
			"Type": "Choice",
			"Choices": [{
					"Variable": "$.status",
					"StringEquals": "FAILED",
					"Next": "Job Failed"
				},
				{
					"Variable": "$.status",
					"StringEquals": "COMPLETED",
					"Next": "To translate"
				}
			],
			"Default": "Wait transcription to complete"
		},
		"Job Failed": {
			"Type": "Fail",
			"Cause": "AWS Transcribe Job Failed",
			"Error": "DescribeJob returned FAILED"
		},
		"To translate": {
			"Type": "Task",
			"Resource": "arn:aws:lambda:us-east-1:${AWS::AccountId}:function:SUBLambdaFunctionTranslate",
			"Next": "To output"
		},
		"To output": {
			"Type": "Task",
			"Resource": "arn:aws:lambda:us-east-1:${AWS::AccountId}:function:SUBLambdaFunctionOutput",
			"End": true
		}
	}
}